.app-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100% - 24px);
  margin: 12px;
  // padding:20px;
  border-radius: 2px;
  background: #ffffff;
  box-sizing: border-box;
}