.app-container {
  display: flex;
  flex-direction: column;
  // overflow: auto;
  height: calc(100% - 24px);
  margin: 12px;
  padding:20px;
  background: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}